[phases.setup]
nixPkgs = ["python39", "chromium", "chromium.chromedriver"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "streamlit run app.py --server.port=$PORT --server.address=0.0.0.0"
